/* 
* This css snippet is used to make the editor view match the reader view
* as best as possible
*/

:root {
    /* Exact 2.03px at 16px base */
    --header-compensation: 0.127rem;

    /* should be set to the value of the following (this is used in read mode):
    .markdown-rendered ul > li {margin-inline-start: 3ch;} */
    --list-indent-edit-mode: 3ch;
}

/* handle empty lines */
.markdown-source-view.mod-cm6 div.cm-line:has(> br:only-child) {
    line-height: calc(var(--p-spacing) + 0.01rem) !important;
}

/* make editor view wrap lines the same as read view */
.cm-lineWrapping {
    white-space: pre-wrap !important;
}

/* #region Headers */

/* headers in the editor directly after text, code and images should have top padding */
.markdown-source-view.mod-cm6 
div:is(
    .cm-line:not(.HyperMD-header, .HyperMD-quote),  
    .cm-preview-code-block,         
    .cm-embed-block,                
    .internal-embed,                
    .media-embed,                   
    .image-embed,                   
    .is-loaded,                     
) + div.HyperMD-header {
    padding-top: calc(var(--heading-spacing) - var(--header-compensation)) !important;
}

/* handle headers after a quote block */
.markdown-source-view.mod-cm6  .HyperMD-quote + .HyperMD-header {
    padding-top: calc(16px - var(--header-compensation)) !important;
}

/* remove top padding & apply padding to bottom of the first header if there is nothing before it
   (the first child is actually <div contenteditable="false"></div>) */
.cm-content > div:nth-child(2).HyperMD-header {
    padding-top: 0 !important;
    padding-bottom: calc(var(--p-spacing)) !important;
}

/* apply different padding to bottom of every other header (that isn't after a header) that has a non-header element after it*/
.cm-content > :not(.HyperMD-header) + div:not(:nth-child(2)).HyperMD-header:has(+ div.cm-line:not(.HyperMD-header)) {
    padding-bottom: calc(var(--p-spacing) - var(--header-compensation)) !important;
}

/* apply different padding to bottom of every other header (that is after a header) that has a non-header element after it*/
.cm-content > .HyperMD-header + div:not(:nth-child(2)).HyperMD-header:has(+ div.cm-line:not(.HyperMD-header)) {
    padding-bottom: var(--p-spacing) !important;
}

/* fix header letter spacing */
:is(.HyperMD-header-4, .HyperMD-header-5, .HyperMD-header-6) {
    letter-spacing: 0.015em !important;
}

/* adjust line-height for h1 after non-header */
.markdown-source-view.mod-cm6 
div:is(
    .cm-line:not(.HyperMD-header),  
    .cm-preview-code-block,         
    .cm-embed-block,                
    .internal-embed,                
    .media-embed,                   
    .image-embed,                   
    .is-loaded                      
) + .HyperMD-header-1 {
    line-height: calc(var(--h1-line-height) + 0.125) !important;
}

/* adjust line-height for h2 after non-header */
.markdown-source-view.mod-cm6 
div:is(
    .cm-line:not(.HyperMD-header),  
    .cm-preview-code-block,         
    .cm-embed-block,                
    .internal-embed,                
    .media-embed,                   
    .image-embed,                   
    .is-loaded                      
) + .HyperMD-header-2 {
    line-height: calc(var(--h2-line-height) + 0.175) !important;
}

/* adjust line-height for h3 after non-header */
.markdown-source-view.mod-cm6 
div:is(
    .cm-line:not(.HyperMD-header),  
    .cm-preview-code-block,         
    .cm-embed-block,                
    .internal-embed,                
    .media-embed,                   
    .image-embed,                   
    .is-loaded                      
) + .HyperMD-header-3 {
    line-height: calc(var(--h3-line-height) + 0.225) !important;
}

/* adjust line-height for h4 after non-header */
.markdown-source-view.mod-cm6 
div:is(
    .cm-line:not(.HyperMD-header),  
    .cm-preview-code-block,         
    .cm-embed-block,                
    .internal-embed,                
    .media-embed,                   
    .image-embed,                   
    .is-loaded                      
) + .HyperMD-header-4 {
    line-height: calc(var(--h4-line-height) + 0.275) !important;
}

/* adjust line-height for h5 after non-header */
.markdown-source-view.mod-cm6 
div:is(
    .cm-line:not(.HyperMD-header),  
    .cm-preview-code-block,         
    .cm-embed-block,                
    .internal-embed,                
    .media-embed,                   
    .image-embed,                   
    .is-loaded                      
) + .HyperMD-header-5 {
    line-height: calc(var(--h5-line-height) + 0.275) !important;
}

/* adjust line-height for h6 after non-header */
.markdown-source-view.mod-cm6 
div:is(
    .cm-line:not(.HyperMD-header),  
    .cm-preview-code-block,         
    .cm-embed-block,                
    .internal-embed,                
    .media-embed,                   
    .image-embed,                   
    .is-loaded                      
) + .HyperMD-header-6 {
    line-height: calc(var(--h6-line-height) + 0.4) !important;
}

/* adjust header's bottom padding if directly followed by another header  */
.markdown-source-view.mod-cm6 .HyperMD-header:has(+ .HyperMD-header) {
    padding-bottom: calc(var(--p-spacing) - 0.005rem) !important;
}

/* remove the top padding on headers following another header */
.markdown-source-view.mod-cm6 .HyperMD-header + .HyperMD-header {
    padding-top: 0;
}

/* adjust h1 bottom padding if it has another header after it (it's different to other headers) */
.markdown-source-view.mod-cm6 :not(.HyperMD-header) + .HyperMD-header-1:has(+ .HyperMD-header) {
    padding-bottom: calc(var(--p-spacing) - 0.13rem) !important;
}

/* account for the case where h1 has a h1 directly after */
.markdown-source-view.mod-cm6 :not(.HyperMD-header) + .HyperMD-header-1:has(+ .HyperMD-header-1) {
    padding-bottom: calc(var(--p-spacing) - 0.25rem) !important;
}

/* could not figure out how to account for something like h1 -> h1 -> h1 -> etc etc */

/* #endregion */

/* #region Code Blocks */

/* used to remove the frames from shiki-highlighter plugin */
figcaption.header {
    display: none !important;
}

/* apply bottom padding to text (that isn't empty) above code blocks */
.markdown-source-view.mod-cm6 .cm-content > div.cm-line:has(+ div:is(.cm-preview-code-block, .cm-embed-block)):not(:has(> br:only-child)) {
    padding-bottom: var(--p-spacing) !important;
}

/* apply top padding to text (that isn't empty) below code blocks */
.markdown-source-view.mod-cm6 .cm-content > div:is(.cm-preview-code-block, .cm-embed-block) + div.cm-line:not(.HyperMD-header):not(:has(> br:only-child)) {
    padding-top: var(--p-spacing) !important;
}

/* make code in headers looks the same as in reader mode */
.HyperMD-header > span.cm-inline-code {
    font-size: var(--code-size) !important;
}

/* indent code blocks under a list dotpoint */
.markdown-source-view.mod-cm6 .HyperMD-list-line-1 + .cm-preview-code-block  {
    transform: translateX(var(--list-indent-edit-mode));
    width: calc(100% - var(--list-indent-edit-mode));

    & pre code span {
        display: inline-block;
        transform: translateX(calc(-1 * var(--list-indent-edit-mode) + 5px));
    }
}

/* indent code blocks under a list dotpoint at the second depth */
.markdown-source-view.mod-cm6 .HyperMD-list-line-2 + .cm-preview-code-block  {
    transform: translateX(calc(1.7 * var(--list-indent-edit-mode)));
    width: calc(100% - 1.7 * var(--list-indent-edit-mode));

    & pre code span {
        display: inline-block;
        transform: translateX(calc(-1.7 * var(--list-indent-edit-mode) + 5px));
    }
}

/* no indentation support for further nesting since it's buggy */

/* #endregion */

/* #region Quotes */

/* The blockquotes actually don't pad nicely on read so it's changed here */
blockquote {
    padding-right: 0.6rem !important;
}

/* Correct padding on editor view */
.HyperMD-quote {
    padding-right: 0.8em !important;
    padding-bottom: 0 !important;
}

/* handle block quotes. This makes use of some js at
   .obsidian/plugins/customjs/style-adjutser.js
   target only the FIRST .cm-quote span after the formatting element */
.HyperMD-quote .cm-formatting-quote + span.cm-quote:not(.cm-inline-code) {
    padding-left: calc(var(--size-4-6) - var(--transparent-span-width, 0px));
}

/* handle bold or italic elements */
.HyperMD-quote .cm-formatting-quote
    + img.cm-widgetBuffer 
    + span[contenteditable="false"] 
    + img.cm-widgetBuffer 
    + span.cm-quote:not(.cm-inline-code) {
        padding-left: calc(var(--size-4-6) - var(--transparent-span-width, 0px));
}

/* quotes starting with bold or italic elements need slightly larger text-indent and padding-inline-start */
.HyperMD-quote:has(.cm-formatting-quote
    + img.cm-widgetBuffer
    + span[contenteditable="false"]
    + img.cm-widgetBuffer
    + span.cm-quote:not(.cm-inline-code)
) {
    text-indent: -26px !important;
    padding-inline-start: 26px !important;
}

/* Reset padding for subsequent .cm-quote spans */
.HyperMD-quote span.cm-quote:not(.cm-formatting-quote, .cm-inline-code) {
    padding-left: 0;
}

/* Remove padding if any subsequent sibling (including non-adjacent) is .cm-inline-code */
.HyperMD-quote span.cm-quote:not(.cm-formatting-quote, .cm-inline-code):has(~ .cm-inline-code) {
    padding-right: 0;
}

/* handle empty lines directly after a quote */
.markdown-source-view.mod-cm6 .HyperMD-quote + div.cm-line:has(> br:only-child) {
    line-height: var(--p-spacing) !important;
}

/* #endregion */

/* #region Lists */

/* lists in the editor directly after text, code and images should have top margin */
.markdown-source-view.mod-cm6 {
    --list-spacing: 0.1em !important;
}

/* empty lines in lists need to be accounted for */
.markdown-source-view.mod-cm6 .HyperMD-list-line-nobullet:not(:has(span[class^="cm-list-"])) {
    line-height: calc(var(--p-spacing) + 0.01rem) !important;
}


/* apply top padding to list elements after a non list element */
.markdown-source-view.mod-cm6 :not(.HyperMD-list-line) + .HyperMD-list-line {
    padding-top: var(--p-spacing) !important;
}

/* indent the lists to match read mode */
.markdown-source-view.mod-cm6 .HyperMD-list-line {
    transform: translateX(calc(var(--list-indent-edit-mode) - 25px));
    padding-right: calc(var(--list-indent-edit-mode) - 25px);
}

/* remove bottom padding on no-bullet list elements */
.markdown-source-view.mod-cm6 .HyperMD-list-line:not(.HyperMD-list-line-nobullet):has(+ .HyperMD-list-line-nobullet) {
    padding-bottom: 0px !important;
}

/* move bullet to the left */
.cm-formatting.cm-formatting-list .list-bullet {
    transform: translateX(-0.23rem);
    padding-right: 1px;
}

/* move the line under the bullets to the left as well */
.HyperMD-list-line .cm-hmd-list-indent .cm-indent::before {
    transform: translateX(-0.2rem) !important;
}

/* use a negative margin to drag the text closer to the numbers without breaking the text wrapping */
.markdown-source-view.mod-cm6 .HyperMD-list-line .cm-formatting.cm-formatting-list:has(.list-number) {
    margin-right: -2px !important;
}

/* move the list number */
.markdown-source-view.mod-cm6 .HyperMD-list-line .cm-formatting.cm-formatting-list .list-number {
    display: inline-flex !important;
    transform: translateX(-0.2rem) !important;
}

/* modify the read mode X position of numbered list to match editor since it's impossible to do the other way round.
   This is because there is no way to determine if a nobullet list element is from a bulleted list or numbered list */
div.el-ol > ol > li {
    transform: translateX(0.225rem) !important;
}

/* apply bottom margin to list elements with a break since this means they have
   text on a newline. (It will look less cluttered this way) */
li:has(br) {
  margin-bottom: var(--p-spacing);
}

/* #endregion */